@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'olde';
  src: url('../public/fonts/Ancient-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'spacey';
  src: url('../public/fonts/spacerangerital.ttf')
}

@font-face {
  font-family: 'arcade';
  src: url('../public/fonts/Arcade-Classic.ttf');
}

@font-face {
  font-family: 'fancy';
  src: url('../public/fonts/The-Blacklist.ttf');
}


/* For whitespace on the sides varying with width */
.padding-alignment {
  @apply sm:px-24 px-2;
}

.margin-alignment {
  @apply sm:mx-24 mx-2;
}

/* Add this class to hide horizontal scrolls */
.hide-scroll-x::-webkit-scrollbar {
  width: 0px;
}

/* Default body background from our theme */
body {
   @apply bg-gray-50;
}

/* Prevents blue highlight color of elements when tapped on phones */
* {
  -webkit-tap-highlight-color: transparent;
}
